{% load staticfiles %}
  <!doctype html>
  <html lang="es">
  <head>
  	<meta charset="utf-8">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/usebootstrap.css' %}">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" media="screen">
  {% block chartjs%}
  {% endblock chartjs%}

  <title>{% block title %}{% endblock title%} </title>

  </head>

  <body>
  {% block navbar %}
  <div class="col-lg-3">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
              <a href="{% url 'inicio' %}" class="navbar-brand">HOME</a>
            </div>  
          <div class="navbar-collapse collapse" id="navbar-main">          
        		   <ul class="nav navbar-nav">
                  <li class="dropdown"><a href="{% url 'crear_usuario' %}">Realizar reclamo</a></li>                    
        		  </ul>
        		   <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Consultar reclamos</a></li>
                  {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" >Cerrar sesion || {{user}}</a></li>
                  {% else %}
                    <li><a href="{% url 'login' %}" >Iniciar sesion</a></li>
                  {% endif %}
        		  </ul>
          </div>
        </div>
      </div>
  </div>
  {% endblock navbar%} 

{% block scripts %}
{% endblock scripts %}


  {% block content %}
  {% endblock content%}

  {% block footer %}
  {% endblock footer%}


    
  	<script> src= "{% static 'js/bootstrap.min.js' %}"</script>
  	<script> src= "{% static 'js/usebootstrap.js.js' %}"</script>
  </body>
  </html>