

{% load staticfiles %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="{% static 'ProTransApp/style.css' %}">
</head>
<body background="{% static 'ProTransApp/imagen/otro.jpg' %}">
<section class="wrspper">
<nav>
	<ul>
  
   
    </ul>
</nav>
	
</section>
<br><h1>Sistema Problemas de transporte en cuarentena</h1>
<br><br><br><br><br>
    	<section class="wrapper">
    	<nav>  
    	<ul>                      
			<li><a href="crearRegistro" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Realizar Encuesta</a></li>
			
			<li><a href="consultarRegistros">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ver Comportamiento de las encuestas</a></li>
			
		</ul>
			<br><br><br><br><br>
  		</nav>
   </div> 
<h1 class="h1">Herramientas de Productividad</h1>
<h1 class="h1">.........................................................</h1>
</body>







