{% load staticfiles %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/usebootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" media="screen">
	

</head>

<body>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="http://usebootstrap.com/" class="navbar-brand">Ir a Inicio</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          
		  <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#">Realizar reclamo</a>
            </li>

            <li class="dropdown">
              <a href="#">Consultar reclamo</a>
            </li>
		  </ul>
		  
		  <ul class="nav navbar-nav navbar-right">
            <li><a href="http://usebootstrap.com/" target="_blank">Login</a></li>
		  </ul>
		  
        </div>
      </div>
    </div>


    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-6">
            <h1>Acá van las gráficas</h1>
            <p class="lead">texto para describir las gráficas</p>
          </div>
        </div>
      </div>
	</div>

		<div class="container">
      		<p class="bs-component">
              <a href="#" class="btn btn-success" role="button">Confirmar</a>
              <a href="#" class="btn btn-danger" role="button">Cancelar</a>
              <a href="CrearUsuario" class="btn btn-success">Crear Encuesta</a>
            </p>
        </div>

	<script> src= "{% static 'js/bootstrap.min.js' %}"</script>
	<script> src= "{% static 'js/usebootstrap.js.js' %}"</script>
</body>
</html>