{% extends 'base.html' %}

<title>{% block title %}Listado de Usuarios{% endblock title%} </title>
{% block content %}
<div class="container">
	<table class="table table-bordered">
	<thead>
		<tr>
			<td>Dui</td>
			<td>Nombres</td>
			<td>Apellidos</td>
			<td>Edad</td>
			<td>Domicilio</td>
			<td>Sexo</td>
			<td>Departamento</td>
			<td>Tipo de Transporte</td>
			<td>Fecha de creacion</td>
			<td>Realizado</td>
			<td>Opcion</td>
		</tr>
	</thead>
	<h1>Listados de usuarios </h1>
		<tbody>
			{% if reclamos %}
			{% for reclamo in reclamos %}
			<tr>
				<td>{{reclamo.idreclamo.dui}}</td>
				<td>{{reclamo.idreclamo.nombre}}</td>
				<td>{{reclamo.idreclamo.apellidos}}</td>
				<td>{{reclamo.idreclamo.edad}}</td>
				<td>{{reclamo.idreclamo.domicilio}}</td>
				<td>{{reclamo.idreclamo.sexo}}</td>
				<td>{{reclamo.idreclamo.departamento}}</td>
				<td>{{reclamo.idreclamo.tipo_transporte}}</td>
				<td>{{reclamo.fecha_creacion}}</td>
				<td>{{reclamo.realizado}}</td>
				<td><a class="btn btn-success" href="{% url 'ver_usu' reclamo.idreclamo.dui %}">Ver Registro</a></td>
			</tr>
			{% endfor %}
			{% else %}
			<h1>No hay registro de usuarios</h1>
			{% endif %}
			
		</tbody>
</table>
</div>

{% endblock %}
