{% extends 'base.html' %}
 {% load staticfiles %}

{% block title %}Encuesta en linea{% endblock %}
{% block content %}
<div class="container">
	<div class="col-xs-12">
	<h1>Encuesta En Linea</h1>
		<h5>
		<form method="POST">
		{% csrf_token %}
			<table class="table table-hover">
				<thead >
					<tr>
						<th style='width: 1px; '></th>
						<th style='width: 600px;'></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>1</th>
						<th>¿Está de acuerdo con las medidas tomadas por el Goes respecto al paro de  trasporte?</th>
						<th><input type="checkbox" name="p1" value="1"></th>
					</tr>
					<tr>
						<td>2</td>
						<td>¿Cree que dicha medida haya contribuido para contener el virus?</td>
						<td><input type="checkbox" name="p2" value="2"></td>
					</tr>
					<tr>
						<td>3</td>
						<td>¿Conoce a alguien que haya perdido su empleo (ya sea de forma formal o informal) a falta del problema de trasporte?</td>
						<td><input type="checkbox" name="p3" value="3"></td>
					</tr>
					<tr>
						<td>4</td>
						<td>¿Considera que debe haber un cupo máximo de pasajeros en las unidades de trasporte?</td>
						<td><input type="checkbox" name="p4" value="4"></td>
					</tr>
					<tr>
						<td>5</td>
						<td>¿Cuenta usted con tansporte propio (Automovil, motocicleta)?</td>
						<td><input type="checkbox" name="p5" value="5"></td>
					</tr>
					<tr>
						<td>6</td>
						<td>¿Se ha visto en la necesidad de pedir ride o caminar largos tramos para dirigirse a su destino?</td>
						<td><input type="checkbox" name="p6" value="6"></td>
					</tr>
					<tr>
						<td>7</td>
						<td>¿Su economía ha sido afectada al contratar trasporte privado para movilizarse?</td>
						<td><input type="checkbox" name="p7" value="7"></td>
					</tr>
					<tr>
						<td>8</td>
						<td>¿Considera que es necesario que los automóviles cumplan con todos los protocolos sanitarios aunque eso requiera de más gastos y recursos económicos?</td>
						<td><input type="checkbox" name="p8" value="8"></td>
					</tr>
					<tr>
						<td>9</td>
						<td>¿Sera necesario el aumento de tarifa para compensar los ingresos perdidos?</td>
						<td><input type="checkbox" name="p9" value="9"></td>
					</tr>
					<tr></tr>
				</tbody>
			</table>
			<br>
			<label>Nos interesa conocer su opinión acerca del problema de trasporte generado por la pandemia mundial</label>
			<textarea name="campoOpcional" rows="8" wrap="off / soft / hard" cols="80"></textarea>
			<br>
			<br>
			<br>
			<br>
			<button class="btn btn-info" type="submit">Terminar</button>
		</form>
	</h5>
	</div>
</div>

{% endblock content %}
