{% extends 'base.html' %}
 {% load staticfiles %}

{% block title %}Encuesta en linea{% endblock %}
{% block content %}
<div class="container">
	<div class="col-xs-12">
	<h1>Encuesta En Linea</h1>
		<h5>
		<form method="POST">
		{% csrf_token %}
			<label>¿Está de acuerdo con las medidas tomadas por el Goes respecto al paro de  trasporte? </label> <input type="checkbox" name="p1" value="1">
			<br>
			<label> ¿Cree que dicha medida haya contribuido para contener el virus? </label> <input type="checkbox" name="p2" value="2">
			<br>
			<label>¿Conoce a alguien que haya perdido su empleo (ya sea de forma formal o informal) a falta del problema de trasporte? </label> <input type="checkbox" name="p3" value="3">
			<br>
			<label>¿Considera que debe haber un cupo máximo de pasajeros en las unidades de trasporte? </label> <input type="checkbox" name="p4" value="4">
			<br>
			<label>¿Considera que debe haber un cupo máximo de pasajeros en las unidades de trasporte? </label> <input type="checkbox" name="p5" value="5">
			<br>
			<label>¿Se ha visto en la necesidad de pedir ride o caminar largos tramos para dirigirse a su destino? </label> <input type="checkbox" name="p6" value="6">
			<br>
			<label>¿Su economía ha sido afectada al contratar trasporte privado para movilizarse? </label> <input type="checkbox" name="p7" value="7">
			<br>
			<label>¿Considera que es necesario que los automóviles cumplan con todos los protocolos sanitarios aunque eso requiera de más gastos y recursos económicos? </label> <input type="checkbox" name="p8" value="8">
			<br>
			<label>¿Sera necesario el aumento de tarifa para compensar los ingresos perdidos? </label> <input type="checkbox" name="p9" value="9">
			<br>
			<label>Nos interesa conocer su opinión acerca del problema de trasporte generado por la pandemia mundial</label>
			<textarea name="campoOpcional" rows="8" wrap="off / soft / hard" cols="80"></textarea>
			<br>
			<br>
			<br>
			<button class="btn btn-info" type="submit">Terminar</button>
		</form>
	</h5>
	</div>
</div>

{% endblock content %}
