{% extends 'plantillaBoost.html' %}
{% block content%}
<table class="table table-bordered">
	<thead>
		<tr>
			<td>Dui</td>
			<td>Nombres</td>
			<td>Apellidos</td>
			<td>Fecha de creacion</td>
			<td>Realizado</td>
			{% if reclamo.realizado == False %}
			<td>Opcion</td>
			{% endif %}
		</tr>
	</thead>
	<h1>  </h1>
		<tbody>
			{% if reclamo %}
			<tr>
				<td>{{reclamo.idreclamo.dui}}</td>
				<td>{{reclamo.idreclamo.nombre}}</td>
				<td>{{reclamo.idreclamo.apellidos}}</td>
				<td>{{reclamo.fecha_creacion}}</td>
				<td>{{reclamo.realizado}}</td>
				{% if reclamo.realizado == False %}
				<form method="POST">
					{% csrf_token %}
					<td><button class="btn btn-primary" type="submit">Eliminar</button></td>
				</form>
				{% endif %}
			</tr>
			{% else %}
			<h1>No hay registro de usuarios</h1>
			{% endif %}
		</tbody>
</table>
<h3>Respuestas del Usuario</h3>
	{% if respuestas %}
			{% for respuesta in respuestas %}
				<thead>
					<tr>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<li>{{respuesta}}<input type="checkbox" name="p1" value="1" checked="" disabled></li>
					</tr>
				</tbody>
			{% endfor %}
			<br>
			<textarea name="textarea" rows="6" cols="80" readonly>{{reclamo.descripcion}}</textarea>
			{% endif %}	
{%endblock%}