{% extends 'base.html' %}

<title>{% block title %}Manteniento de Usuarios{% endblock title%} </title>
{% block content%}
<div class="container">
	<table class="table table-bordered">
	<thead>
		<tr>
			<td>Dui</td>
			<td>Nombres</td>
			<td>Apellidos</td>
			<td>Fecha de creacion</td>
			<td>Realizado</td>
			{% if reclamo.realizado == False %}
			<td>Opcion</td>
			{% endif %}
		</tr>
	</thead>
	<h1>  </h1>
		<tbody>
			{% if reclamo %}
			<tr>
				<td>{{reclamo.idreclamo.dui}}</td>
				<td>{{reclamo.idreclamo.nombre}}</td>
				<td>{{reclamo.idreclamo.apellidos}}</td>
				<td>{{reclamo.fecha_creacion}}</td>
				<td>{{reclamo.realizado}}</td>
				{% if reclamo.realizado == False %}
				<form method="POST">
					{% csrf_token %}
					<td><button class= "btn btn-danger" type="submit">Eliminar</button> <a class="btn btn-success" href="{% url 'listado_usuario' %}">Cancelar</a></td>
				</form>
				{% endif %}
			</tr>
			{% else %}
			<h1>No hay registro de usuarios</h1>
			{% endif %}
		</tbody>
</table>
<h3>Respuestas del Usuario</h3>
	{% if respuestas %}
	<div style='width: 650px;'></td>
		<table class="table">
			<thead >
					<tr>
						<td style='width: 650px;'></td>
					</tr>	
			</thead>
				{% for respuesta in respuestas %}
					<tbody>
						<tr>
							<ul list-style-type: none>
								<td>{{respuesta}}</td>
								<td>  <input type="checkbox" name="p1" value="1" checked="" disabled></td>
							</ul>
						</tr>
					</tbody>
				{% endfor %}
			<br>
	</table>
	</div>
	<label>Nos interesa conocer su opinión acerca del problema de trasporte generado por la pandemia mundial</label>	
	<textarea name="textarea" rows="6" cols="80" readonly>{{reclamo.descripcion}}</textarea>	
			{% endif %}	
</div>

{%endblock%}