{% extends 'base.html' %}
{% block title %}Crear registro{% endblock %}
{% block content %}
<div class="container">
	<div class ="row justify-content center">
		<div class="col-xs-7">
			<h2 class="mt-2">Registro de Usuario</h2>
			<hr class="mt-0 mb-4">
			<form method="post" >
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-primary" type="submit">Registrar</button>
			<a class= "btn btn-danger" href="{% url 'inicio' %}">Cancelar</a>
			</form>
		</div>
	</div>
</div>

{% endblock content %}