{% extends 'index.html' %}
{% block title %}Crear registro{% endblock %}
{% block navbar2 %}
 			<li class="dropdown">
              <a href="">Consultar reclamo</a>
            </li>

{% endblock %}

{% block content %}
<div class="container">
	<div class ="row justify-content center">
		<div class="col-xs-7">
			<h1 class="mt-2">Ingrese sus datos personales</h1>
			<hr class="mt-0 mb-4">
			<form method="post" >
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-success" type="submit">Siguiente</button>
			<a class= "btn btn-danger" href="{% url 'inicio' %}">Cancelar</a>
			</form>
		</div>
	</div>
</div>

{% endblock %}