{% load staticfiles %}
<!DOCTYPE html>
<html lang=es>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %} {% endblock %} </title>
		<link rel="stylesheet" type="text/css" href="{% static 'ProTransApp/freelancer.css' %}">
	</head>
	<body>

		<div class="container">
			{% block navbar %}
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
  					<a class="navbar-brand" href="{% url 'home' %}">Home</a>
            		<a class="navbar-brand" href="{% url 'CrearUsuario' %}">Registrarse</a>
            		
				</nav>
			{% endblock %}
		</div>
		
		{% block header %}
		<center>
			<h3></h3>
		</center>
		{% endblock %}

		{% block content %}
		<h4>Contenido</h4>
		{% endblock %}

		{% block footer %}
		<center>
			<h6>Grupo 4 HDP</h6>
		</center>
		{% endblock %}
	</body>
</html>